%%-*- mode: erlang -*-

{erl_opts, [
            {parse_transform, lager_transform}
           ]}.

{deps, [
    {msgpack, ".*", {git, "git://github.com/voluntas/yet-another-msgpack-erlang.git", 
                                                                   {branch, "develop"}}},
    {lager,   ".*", {git, "git://github.com/basho/lager.git",      "HEAD"}},
    {folsom,  ".*", {git, "git://github.com/boundary/folsom.git",  "HEAD"}},
    {ranch,   ".*", {git, "git://github.com/extend/ranch.git",     "HEAD"}},
    {epgsql,  ".*", {git, "git://github.com/wg/epgsql.git",        "HEAD"}},
    {eredis,  ".*", {git, "git://github.com/wooga/eredis.git",     "HEAD"}}
  ]
}.

{sub_dirs, ["rel"]}.