%%-*- mode: erlang -*-

{erl_opts, [
            {parse_transform, lager_transform}
           ]}.

{deps, [
    {msgpack,     ".*", {git, "git://github.com/voluntas/yet-another-msgpack-erlang.git", 
                                                                                {branch, "develop"}}},
    {lager,       ".*", {git, "git://github.com/basho/lager.git",                   "HEAD"}},
    {erlang_js,   ".*", {git, "git://github.com/basho/erlang_js.git",               "HEAD"}},
    {poolboy,     ".*", {git, "git://github.com/devinus/poolboy.git",               "HEAD"}},
    {jsx    ,     ".*", {git, "git://github.com/talentdeficit/jsx.git",             "HEAD"}},
    {statsd,      ".*", {git, "git://github.com/domnikl/statsd-erlang.git",         "HEAD"}},
    {cowboy,      ".*", {git, "git://github.com/extend/cowboy.git",                 "HEAD"}},
    {epgsql,      ".*", {git, "git://github.com/wg/epgsql.git",                     "HEAD"}},
    {eredis,      ".*", {git, "git://github.com/wooga/eredis.git",                  "HEAD"}},
    {riakc,       ".*", {git, "git://github.com/basho/riak-erlang-client.git",      "HEAD"}},
    {bcrypt,      ".*", {git, "git://github.com/smarkets/erlang-bcrypt.git",        "HEAD"}},
    {base32,      ".*", {git, "git://github.com/andrewtj/base32_erlang.git",        "HEAD"}}
  ]
}.

{sub_dirs, ["rel"]}.